<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/custom.css">

<title>Forgot Password</title>
</head>
<body class="reserve-body-bg">

	<nav class="navbar navbar-light " style="background-color: #b2a6f32d;">
		<div class="ml-auto">
			<form class="form-inline mb-0 ">
				<button type="submit" class="btn btn-success text-center"
					formaction="/login.html">Tillbaka</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div
				class="col-xs-12 col-sm-10 offset-sm-1 p-sm-5  reserve-nav-bg reserve-con-mg">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-lock" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Glömt ditt lösenord?</h2>
							<p>Ange din e-postadress så skickar vi dig en länk till
Återställ ditt lösenord.</p>
							<div class="panel-body">

								<div th:if="${param.success}">
									<div class="alert alert-info">Du har begärt en ny återställning av lösenord!</div>
								</div>

								<form th:action="@{/forgot-password}"
									th:object="${forgotPasswordForm}" method="post">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-envelope color-blue"></i>
											</span> <input id="email" class="form-control"
												placeholder="email address" th:field="*{email}" />
										</div>
										<p class="error-message"
											th:each="error : ${#fields.errors('email')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Återställ lösenord</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Ny användare? <a href="/" th:href="@{/registration}">Registrera</a>
					</div>
					<div class="col-md-12">
						Redan registrerad? <a href="/" th:href="@{/login}">Logga in</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>